*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }

  .container {

    display: flex;
    justify-content: center;
    max-width: 90vw;
    margin: 0 auto;
    padding-top: 3rem;
    padding-bottom: 3rem;
    gap: 1rem;
  }

