.preview {
  display: none;
}
.preview[src] {
  display: block;
}

#fileDropZone {
  padding: 1.25rem;
  height: 15rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
  border-radius: 0.75rem;
  border-width: 2px;
  border-style: dashed;
  border-color: #000;
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  cursor: pointer;
}

#fileDropZone:hover,
#fileDropZone.drop-hover {
  border-color: #000;
}

#fileDropZone.droped {
  border-color: #000;
}

#fileDropZone .fileInside {
  display: none;
}

#fileDropZone.droped .fileInside {
  display: block;
}

#fileDropZone.droped .fileEmpty {
  display: none !important;
}
