body {
  font-family: Arial, sans-serif;
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
  background-color: hsl(66, 98%, 51%);
}

.container {
  background: rgb(63, 245, 230);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  color: #1a5a96;
  text-align: center;
  margin-bottom: 30px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

select,
input[type="datetime-local"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
}

button {
  background: #1a5a96;
  color: white;
  padding: 12px 30px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background: #164c80;
}

/* Стили для списка текущей очереди */
#currentQueueList {
  max-height: 400px;
  overflow-y: auto;
  border: 1px solid #115da8;
  padding: 10px;
  margin-top: 20px;
}

.queue-status {
  margin-top: 30px;
  padding: 20px;
  background: #115da8;
  border-radius: 10px;
}

.queue-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 2px solid #2b14f3;
}

.queue-item:last-child {
  border-bottom: none;
}
.queue-item button {
  background: #1a5a96;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 10px;
  cursor: pointer;
  margin-left: 5px;
}

.queue-item button:hover {
  background: #164c80;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background: rgb(63, 245, 230);
  margin: 15% auto;
  padding: 20px;
  width: 55%;
  border-radius: 10px;
}
