/* Стиль для второй карточки */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  height: 100%;
  background-color: #000;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.card_2 {
  background-color: #000000;
  border-radius: 10px;
  border: 1px solid #6b6a6a;
  min-width: 350px;
  min-height: 310px;

  box-shadow: 0 0 10px 3px #1c1d1d;
}

.card_2__header {
  color: #c9c8c8;
  margin: 20px;
  font-size: 90%;
  gap: 12px;
  
}

.card_2__input {
  margin: 20px;
  color: #c9c8c8;
  font-size: 90%;
}

.card_2__select {
  margin: 20px;
  color: #c9c8c8;
  font-size: 90%;
}

.card_2__buttons {
  margin: 20px;
  display: flex;
  justify-content: space-between;
}

.card_2__header p {
  color: #858585;
}
.card_2__select select {
  width: 100%;
  border: 1px solid #6b6a6a;
  background-color: #000000;
  color: #c9c8c8;
  height: 38px;
  border-radius: 5px;
  padding-left: 10px;
  font-weight: bold;
}
.card_2__input input {
  width: 100%;
  border: 1px solid #6b6a6a;
  background-color: #000000;
  color: #c9c8c8;
  height: 38px;
  border-radius: 5px;
  padding-left: 10px;
  font-weight: bold;
}

.btn__outlined {
  cursor: pointer;
  background-color: #000000;
  color: #c9c8c8;
  border-radius: 5px;
  border: 1px solid #6b6a6a;
  font-weight: bold;
  padding: 10px 15px 10px 15px;
}

.btn__filled{
  cursor: pointer;
  color: #c9c8c8;
  border-radius: 5px;
  border: 1px solid #6b6a6a;
  font-weight: bold;
  padding: 10px 15px 10px 15px;
  background-color: #2e2e2e;
  border: none;
}

.btn__filled:hover{
  cursor: pointer;
  background-color: #000000;
  color: #c9c8c8;
  border-radius: 5px;
  border: 1px solid #6b6a6a;
  font-weight: bold;
  padding: 10px 15px 10px 15px;
  
}
.btn__outlined:hover{
  cursor: pointer;
  color: #c9c8c8;
  border-radius: 5px;
  border: 1px solid #2e2e2e;
  font-weight: bold;
  padding: 10px 15px 10px 15px;
  background-color: #2e2e2e;
  
}
