* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  height: 100%;
  background-color: #000;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: #dbdbdb;
;
}

.card {
  background-color: #181818;
  border-radius: 10px;
  border: 1px solid #222424;
  min-width: 400px;
  box-shadow: 0 0 10px 3px #1c1d1d;
}
.card__header {
  margin: 15px;
  display: flex;
  gap: 12px;
}

.card__header p {
  color: #858585;
}
.card__img img {
  border-radius: 20%;
  width: 100%;
  height: 100%;
}

.card__img {
  position: relative;
  width: 40px;
  height: 40px;
}

.card__body {
  margin: 15px;
}

.card__footer {
  margin: 15px;
}
.logo {
  max-width: 100%;
}

hr{
  
  border: 1px solid #35353594;
}
.link {
  width: 15px;
  
}
a {
  text-decoration: none;
}
a:visited {
  color: #0645AD   ;
}
