body {
  padding: 0;
  margin: 0;
  font-family: Arial;
}

.card {
  height: 210px;
  width: 400px;
  background-color: rgb(32, 32, 32);
  border-radius: 12px;
  border: 1px solid gray;
  margin: auto;
  margin-top: 300px;
  box-shadow: 0 0 10px 3px #1c1d1d;
}

.top-section {
  border-bottom: 1px solid gray;
  display: flex;
  flex-direction: row;
  padding-top: 8px;
}

.img {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px
}

.img img {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 5px;
}

.org {
  line-height: 8px;
}

.up {
  color: aliceblue;
}

.down {
  color: gray;
  font-size: 15px;
}

.middle-section {
  border-bottom: 1px solid gray;
  margin-bottom: 5px;
  padding-left: 10px;
  line-height: 27px;
}

.middle-section p {
  color: aliceblue;
}

.bottom-section {
  padding-left: 10px;
  margin-top: 15px;
}

.bottom-section a {
  text-decoration: none;
  color: rgb(6, 92, 206);
}

a img {
  width: 15px;
  height: 15px;
}