input{
	margin: 5px;
}	


	 .input {
	  display: flex;
   	  justify-content: center;
	  align-items: center;
	  flex-direction: column;
	
	 
	  	
}

	button {
	 cursor: pointer;
	 margin: 5px;
	 margin-right: 25px;
}
	.container{
	  display: flex;
   	  justify-content: center;
	  align-items: center;
	  flex-direction: column;
	  width: 200px;
	  height: 250px;
	  margin-top: 150px;
	  margin-left: 500px;
	  border: 2px solid #000;
	  border-radius: 5%;
	  background-color: #221a1a;
}
	.btn{
	  display: flex;
   	  justify-content: space-between;
	  align-items: center;
  	  margin-left: 20px;
}