@import url('./swiper.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    scroll-behavior: smooth;
}

body {
    background-color: black;
}

.container {
    overflow: hidden;
    max-width: 80vw;
    margin: 0 auto;
}



/* HEADER */
.logo_png {
    width: 10rem;
  }
  .header {
    width: 100%;
    height: 7vh;
    background-color: rgb(17, 17, 17);
    position: relative;
  }
  
  .header::after {
    content: "";
    width: 100vw;
    height: 100%;
    display: block;
    position: absolute;
    bottom: 0;
    z-index: 1;
    background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.9) 10%,
      rgba(0, 0, 0, 0) 80%
    );
  }
  
  .header::before {
    content: "";
    width: 100vw;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    z-index: 2;
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.9) 2%,
      rgba(0, 0, 0, 0) 20%
    );
  }
  
  .header__menu {
    padding: 1rem 0 0.5px 0;
    top: 0;
    width: 80vw;
    z-index: 5;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
  }
  
  .header__menu-item a {
    padding-right: 1rem;
    color: inherit;
    line-height: 30px;
    text-decoration: none;
    transition: color 0.1s ease-in;
    font-size: 16px;
    z-index: 5;
  }
  .header__menu-item a:hover {
    color: rgb(104, 101, 101);
  }
  
  .header__menu-item a:first-child {
    font-weight: 800;
  }
  .header__menu-item a:last-child {
    padding-right: 0;
  }
  
  .header__menu-user{
    display: flex;
    align-items: baseline;
  }
  
  .header__menu-user ul {
    display: flex;
    align-items: center;
    list-style: none;
    cursor: pointer;
    transition: transform 1s ease-in-out;
  }
  
  .header__menu-user ul li {
    padding-right: 2rem;
  
    &:last-child {
      padding-right: 0;
    }
  
    &:hover {
      scale: 1.05;
    }
  }
  

.news__card-link {
    color: white;
    cursor: pointer;
    width: 100%;
    margin-right: 1.5rem;
    text-decoration: none;
    background-color: #00925D;
    padding: .8rem 1.5rem;
    padding-left: 2.5rem;
    font-size: 14px;
    border-radius: 10px;
    position: relative;
    transition: background-color 0.3s;
    &:hover{
        background-color: #007A4A; 
        color: #fff; 
        
    }
}

.news__card-link::before {
    content: url('../img/header/continue-icon.png');
    position: absolute;
    left: 5%;
    bottom: 20%;

}


.header__hero-buttons-watchlist {
    color: white;
    text-decoration: none;
    background-color: black;
    padding: .8rem 1.5rem;
    padding-left: 2.5rem;
    border: #fff 1px solid;
    font-size: 14px;
    border-radius: 10px;
    position: relative;
}

.header__hero-buttons-watchlist::before {
    content: url('../img/header/bookmark.png');
    position: absolute;
    left: 8%;
    bottom: 15%;
}

.header__hero-buttons-download {
    color: white;
    text-decoration: none;
    background-color: black;
    padding: .8rem 1.5rem;
    padding-left: 2.5rem;
    border: #fff 1px solid;
    font-size: 14px;
    border-radius: 10px;
    position: relative;
}

.header__hero-buttons-share {
    color: white;
    text-decoration: none;
    background-color: black;
    padding: .8rem 1.5rem;
    padding-left: 2.5rem;
    border: #fff 1px solid;
    font-size: 14px;
    border-radius: 10px;
    position: relative;
}

.header__hero-buttons-like {
    color: white;
    text-decoration: none;
    background-color: black;
    padding: .8rem 1.5rem;
    padding-left: 2.5rem;
    border: #fff 1px solid;
    font-size: 14px;
    border-radius: 10px;
    position: relative;
}

main {

    height: 100%;
    background-color: black;
}

h3 {
    font-size: 25px;
    font-weight: 600;
    font-family: inherit;
    color: white;
    margin: 3.5rem 0 1.5rem 0;
}

.movie_name,
.swiper_movie-name {
    cursor: pointer;
    transition: color 0.3s, transform 0.3s; 

}
.swiper_movie-name:hover,
.movie_name:hover{
    color: #f8f8f8; 
    transform: scale(1.03);
}



.logo_png {
    width: 150px;
}




.empty{
    height: 3rem;
  }

  .news{
    color: #ececec;
  }

  .news{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20%, 1fr));
    gap: 3rem;
    padding: 1rem;
    justify-content: center;
    align-content: center;
    color: white;
    margin: 4rem 0;
    grid-row: 1;
  }

  @media screen and (max-width:1400px) {
    .news{
        grid-template-columns: repeat(auto-fill, minmax(25%, 1fr));
    }
  }
  @media screen and (max-width:1300px) {
    .news{
        grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
    }
  }
  @media screen and (max-width:800px) {
    .news{
        gap: 1.5rem;
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
    }
  }

  .news_card{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: space-between;
    /* width: 30vw; */
    border: rgb(61, 61, 61) 1px solid;
    padding: 1rem;
    border-radius: 10px;
    -webkit-box-shadow: 0px 5px 10px 2px rgba(178, 178, 178, 0.2);
    -moz-box-shadow: 0px 5px 10px 2px rgba(178, 178, 178, 0.2);
    box-shadow: 0px 5px 10px 2px rgba(178, 178, 178, 0.2);
  }
  @media screen and (max-width:850px) {
    .news_card{
        width: 75vw;
      }
  }

  .news_card_img{
    width: 15rem;
    height: auto;
    align-self: center;
  }
  /* @media screen and (max-width:850px) {
    
  } */

  .news_card_title{
    font-weight: 800;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }

  .news_card_desc{
    color: grey;
    text-align: justify;
    text-wrap:balance;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }