@import url(./shop-items.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  padding: 20px;
}

.app {
  margin-bottom: 20px;
}

select,
label {
  margin-bottom: 10px;
  display: block;
}

#shop_filter {
  padding: 5px;
}

#removePoorItems {
  margin-left: 5px;
}
