.container{
  display: flex;
  margin: 0 auto;
  justify-content: center;
}

.catalog{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  padding: 2rem;
  max-width: 70vw;
}
@media screen and (max-width: 800px){
  .catalog{
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 500px){
  .catalog{
    grid-template-columns: repeat(1, 1fr);
  }
}

.catalog__item{
  padding: 1rem .5rem;
  border: 2px solid #000;
  border-radius: 1rem;
  background-color: #ffffff;
}
