:root {
  --main-color: rgb(5, 6, 5);
  --bg-color: rgb(71, 9, 109);
  --text-color: rgba(198, 12, 207, 0.803);
  --color: rgba(198, 12, 207, 0.803);
}


/* Body */

.body {
  --body-color: #fffff0;
  --body-shadow: rgb(255 160 122 / 0.6);
  --body-glow: rgb(255 255 255 / 0.7);
}

/* Switcher */

.switcher__radio {
  filter: invert(1);
}

.switcher__radio:checked {
  filter: invert(0);
}

.switcher__status {
  filter: invert(1);
}