:root {
  --main-color: rgba(198, 12, 207, 0.803);;
  --bg-color:  rgba(198, 12, 207, 0.803);
  --text-color:   rgb(71, 9, 109);
  --color: rgb(5, 6, 5);
}


/* Body */

.body {
  --body-color: #fff566;
  --body-shadow: rgb(222 168 33 / 0.4);
  --body-glow: rgb(70 130 180 / 0.4);
}

/* Switcher */

.switcher__radio {
  filter: invert(0);
}

.switcher__radio:checked {
  filter: invert(1);
}

.switcher__status {
  filter: invert(0);
}
