*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
  
  body {
    font-family: "Play", sans-serif;
    font-optical-sizing: auto;
    font-size: large;
    font-style: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../images/bg.png");
  }
  
  .container {
    max-width: 90vw;
    margin: 0 auto;
    padding-bottom: 50px;
  }

  .app{
    text-align: center;
    padding: 1rem;
    color: rgba(116, 116, 116, 0.74);
    font-size: 30px ;
    font-weight: bold;
  }
  .list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.2rem;
    padding: 1rem;
    justify-content: center;
    align-content: center;
  }
  .user__card{
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    gap: 0.5rem;
    color: rgb(0, 53, 105);
    border-radius: 0.3rem;
    padding: 1rem;
    background-color:rgba(167, 167, 167, 0.493);
  
    min-width: 30%;
    min-height: 20vh;
    box-shadow: 0 0 10px 3px #1111114f;
    transition: transform 0.3s ease;
      }

.user__card:hover{
  transform: scale(1.05);
}
 
 .user__name {
    font-size: 1.5rem;
    color: rgba(49, 49, 49, 0.815);
    text-align: center;
 }

 .city_name{
  font-size:medium;
 }
 
 .company_name{
  font-size:smaller;
 }

 .p_small{
    font-size:smaller;
    padding-top: .1rem;
    
 }
 a:visited {
  color: #0066CC   ;
}


.add_user{
  display: flex;
  justify-content: center;
  

}
.add_user_container{

  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap:1rem;
  justify-content: space-around;
  align-items:center;

}

.add_input{
  height: 2rem;
  width: 15rem;
  border-radius: 0.3rem;
  background-color:rgba(230, 228, 228, 0.87);
  box-shadow: 0 0 10px 3px #1111114f;
  padding-left: 0.3rem;
}



.btn_add {
  height: 2rem;
  width: 10rem;
  background-color: #979797;  
  color: white;              
  border: 2px solid #808080; 
  padding: 5px;  
  font-family: "play", sans-serif;   
  font-size: 16px;   
  font-weight: 900;       
  border-radius: 0.3rem;     
  cursor: pointer;         
  transition: all 0.3s ease; 
}


.btn_add:hover {
  background-color: #808080; 
  border-color: #5a5a5a;     
}


.btn_add:active {
  background-color: #5a5a5a; 
  border-color: #404040;    
   
}

 @media (max-width: 900px) {
  .list {
    grid-template-columns: repeat(2, 1fr);
     min-width: 50%;
  }
}

  @media (max-width: 600px) {
    .list {
       grid-template-columns: 1fr;
       min-width: 50%;
       
       justify-content: center;
    }
 }
 