input{
	margin: 5px;
}	

	 .input {
	  display: flex;
   	  justify-content: center;
	  align-items: center;
	  flex-direction: column;
	  margin-left: 950px;
	 
	  
	
}



	button {
	 cursor: pointer;
	 margin: 5px;
}
	.container{
	  display: flex;
   	  justify-content: center;
	  align-items: center;
	  margin-top: 150px;
	  margin-right: 950px;
	

}

	.btn{
	  display: flex;
   	  justify-content: center;
	  align-items: center;
	  flex-direction: column;
   	  margin-left: 20px;
}