*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    margin-top: 4rem;
    width: 60%;
    justify-self: center;
    display: flex;
    justify-content:center ;

}