input {
  padding: 1rem 2rem;
  cursor: pointer;
  border-radius: .5rem;
  border: none;
  outline: none;
  color: #fff;
   background-color:rgb(101, 92, 105);
  display: flex;
  align-items: center;
  gap: 5px;
  width: 115px;
  height: 15px;
   
  
}

