html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*, *::after, *::before {
    box-sizing: inherit;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    padding: 0;
    border: none;
    background-color: transparent;
}

ul {
    list-style: none;
}

.container {
    max-width: 1240px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
}

body {
    color: #151618;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.5;
    font-family: "Lato", serif;
    position: relative;
}

.headerInner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 140px;
    padding: 30px 0;
}

.logo {
    margin-bottom: 0 auto;
}

.logo img {
    width: 150px;
}

.menuBtn {
    display: none;
    width: 40px;
    height: 20px;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    cursor: pointer;
    z-index: 2;
}

.menu_close {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    z-index: 1;
    transition: background-color .3s ease;
}

.menu_close.menu_open {
    display: block;
}

.adaptiveNav, .menuClose {
    display: none;
}

.menuBtn span {
    background-color: #000;
    height: 2px;
    width: 100%;
}

.menuItem {
    font-size: 24px;
    font-family: "Cormorant", serif;
}

.menuList {
    display: flex;
    align-items: center;
    gap: 0 65px;
    font-weight: 400;
    font-size: 18px;
    margin-left: 85px;
    position: relative;
    z-index: 3;
}

.menuCloseBtn img {
    width: 30px;
}

.adaptiveActLink img {
    width: 25px;
}

.user {
    display: flex;
    align-items: center;
    gap: 0 20px;
}

.userLink img {
    width: 25px;
}

.userItemSearch {
    margin-left: 80px;
}

.top {
    background-image: url(../img/top.jpg);
    background-repeat: no-repeat;
    background-position: center bottom 65%;
    background-size: cover;
}

.topInner {
    min-height: 500px;
    color: #fff;
    font-family: "Cormorant", serif;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.topTitle {
    font-size: 60px;
    margin-bottom: 20px;
    max-width: 780px;
    line-height: 1;
    font-weight: 400;
}

.topText {
    font-size: 24px;
    margin-bottom: 48px;
    max-width: 560px;
    line-height: normal;
}

.blockquoteTitle {
    text-align: center;
    font-size: 60px;
    font-family: "Cormorant", serif;
}

.blockquoteText {
    text-align: center;
    font-family: "Cormorant", serif;
    font-size: 40px;
    max-width: 704px;
    line-height: normal;
    margin: 0 auto;
}

@media (max-width: 1000px) {
    .userItemSearch {
        margin-left: 30px;
    }
    .menu {
        margin-right: auto;
    }
    .menuList {
        margin-left: 60px;
    }
    .logo {
        margin-bottom: 0;
    }
    .headerInner {
        min-width: auto;
    }
    .blockquoteText {
        margin-top: 120px;
        margin-bottom: 135px;
    }
}

@media (max-width: 860px) {
    .menuList {
        transform: translateY(-100%);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        width: 480px;
        margin: 0 auto;
        background-color: #fff;
        display: block;
        text-align: center;
        padding-top: 60px;
        transition: transform .6s ease;
    }
    .menuList.menuListOpen {
        transform: translateY(0%);
    }
    .menuCloseBtn {
        position: absolute;
        top: 20px;
        right: 20px;
    }
    .menuItem {
        margin-bottom: 30px;
        font-size: 24px;
        font-family: "Cormorant", serif;
    }
    .adaptiveMenu {
        padding-top: 60px;
        margin: 60px 30px;
        border-top: 2px solid #F7F2EA;
    }
    .adaptiveAct {
        background-color: #F7F2EA;
        height: 60px;
        padding: 0 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .adaptiveMenuItem {
        margin-bottom: 35px;
    }
    .menuBtn {
        display: flex;
    }
    .adaptiveNav, .menuClose {
        display: block;
    }
    .menu {
        order: -1;
        margin-right: 0;
    }
    .logo {
        margin-left: auto;
        margin-right: 154px;
    }
}

@media (max-width: 768px) {
    .headerInner {
        padding-left: 64px;
        padding-right: 64px;
    }
    .blockquoteText {
        max-width: 640px;
    }
}

@media (max-width: 680px) {
    .container {
        padding-left: 10px;
        padding-right: 10px;
    }
    .headerInner {
        padding-left: 0;
        padding-right: 0;
    }
    .topTitle {
        font-size: 40px;
        line-height: normal;
    }
    .blockquoteText {
        font-size: 16px;
        max-width: 376px;
        margin-top: 60px;
        margin-bottom: 60px;
    }
}

@media (max-width: 480px) {
    .logo {
        margin-right: 80px;
    }
    .logo img {
        width: 115px;
    }
    .menuList {
        width: 360px;
    }
}

@media (max-width: 360px) {
    .logo {
        margin-right: 50px;
    }
    .userItemSearch {
        margin-left: 0;
    }
    .headerInner {
        padding: 10px 0;
    }
    .topTitle {
        font-size: 24px;
        margin-bottom: 10px;
    }
    .topText {
        font-size: 13px;
        margin-bottom: 30px;
    }
    .topInner {
        min-height: 367px;
    }
    .blockquoteText {
        max-width: 340px;
        margin-top: 70px;
        margin-bottom: 80px;
    }
}