.video{
  width: 50%;
  aspect-ratio: 21/9;
  background-color: red;
}
div{
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

div{
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
}