* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1c032b;
  color: #ececec;
}

.app {
  border: 1px solid #fff;
  padding: 1.5rem;
  border-radius: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.app__button {
  border: none;
  outline: none;
  background-color: #ffffff;
  color: #1c032b;
  padding: .5rem 1rem;
  border-radius: 1rem;
  font-size: 1.15rem;
  cursor: pointer;
  transition: background-color .33s ease-in-out;
}

.app__button:hover {
  background-color: #cbcbcb;
}