.catalog {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 1rem;
   padding: 1rem;
}

.catalog__item {
   display: flex;
   flex-direction: column;
   justify-content:space-around;
   background: rgba(255, 255, 255, 0.1);
   border-radius: 0.5rem;
   padding: 20px;
   box-shadow: 0 0 10px 3px #0a173a18;
   transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.catalog__item:hover {
   transform: translateY(-5px);
   box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.card__title {
   font-size: 1.5rem;
   color: rgb(0, 137, 208);
}

.card__price{
   align-self: flex-end;
   padding-top: .5rem;
  
}


@media (max-width: 600px) {
   .catalog {
      grid-template-columns: 1fr;
   }
}
