* {
  /* margin: 0 auto; */
  /* padding: 0; */
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background-color: black;
}

.card {
  margin: 0 auto;
  background-color: #1f1e1e05;
  border: 2px solid rgb(112, 103, 103);
  border-radius: 10px;
  color: white;
  padding: 20px 25px 0 25px;
  max-width: 380px;
}

.card__header h2 {
  padding: 0;
  line-height: 5px;
}
.card__header p {
  color: rgb(184, 184, 184);
  font-size: 14px;
}
h5 {
  margin: 25px 0 5px 0;
}

.nameinput {
  border: 2px solid #666666;
  padding-left: 10px;
  border-radius: 5px;
  min-width: 100%;
  min-height: 40px;
  background-color: #181717;
  color: white;
}
select {
  border: 2px solid #666666;
  padding-left: 10px;
  border-radius: 5px;
  min-width: 100%;
  min-height: 40px;
  background-color: #181717;
  color: white;
}

.card__footer {
  padding: 25px 0;
  display: flex;
  justify-content: space-between;
}

button {
  background-color: #181717;
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  border: 2px solid #666666;
  cursor: pointer;
  transition: 0.3s ease-in;
}

.depbut {
  background-color: #333131;
  border: none;

  border-radius: 5px;
}
.depbut:hover {
  background-color: #181717;
}

button:hover {
  background-color: #333131;
  color: white;
  padding: 10px 15px;
}
button:active {
  scale: 1.08;
}
