/* Центрирование контейнера */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}


.text {
    margin-right: 10px;
    padding: 10px;
    font-size: 16px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    transition: border-color 0.3s;
}

.text:focus {
    border-color: #007BFF;
}


.sp_btn {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.sp_btn:hover {
    background-color: #0056b3;
}
