body {
  font-family: "Geologica", sans-serif;
}

.wrapper {
  padding: 30px 150px;
}

.navigation {
  margin: 20px 0 0 0;
  display: flex;
  gap: 10px;
  font-weight: 600;
  cursor: pointer;
  align-items: center;

  .navigation_main {
    color: #1760a4;
  }
}

.navbar_links {
  color: black;
}

.breadcrumb-main {
  color: #1760a4;
  font-weight: 600;
}

#breadcrumb {
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 24px;
}

#breadcrumb img {
  margin-left: 8px;
  margin-right: 8px;
}

#breadcrumb-text {
  color: #0b2136;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  vertical-align: middle;
}

.gallery {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 20px;
  align-items: flex-start;
}

.main-video {
  position: relative;
  border-radius: 12px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-video a {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

.main-video img.main-pic {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main-video::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(to top, rgba(0, 81, 203, 1), transparent);
  z-index: 1;
}

.play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
  height: 200px;
  object-fit: contain;
}

.video-glightbox {
  display: inline-block;
  position: relative;
}

.title_wrap {
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
}

.play-button img {
  width: 30px;
  height: auto;
}

.video-info {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: white;
  z-index: 2;
}

.video-theme {
  font-weight: 500;
  font-size: 18px;
  line-height: 130%;
  letter-spacing: -2%;
  opacity: 50%;
  color: #ffffff;
}

.video-title {
  font-size: 24px;
  font-weight: 500;
  line-height: 130%;
  letter-spacing: -2%;
  color: #ffffff;
}

.video-timin {
  position: absolute;
  bottom: 20px;
  right: 20px;
  color: white;
  z-index: 2;
}

.video-duration {
  position: absolute;
  bottom: 20px;
  right: 20px;
  color: white;
  font-size: 16px;
  opacity: 0.8;
}

.duration-time {
  font-weight: 500;
  font-size: 24px;
  line-height: 130%;
  letter-spacing: -2%;
  color: #ffffff;
}

.video-list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.video-list-item {
  display: block;
}

.video-list a {
  border-radius: 12px;
}

.main-video img {
  width: 100%;
  display: block;
}

.video-item {
  position: relative;
  cursor: pointer;
  border-radius: 8px;
  overflow: hidden;
}
.video-item img {
  width: 100%;
  display: block;
}
.video-timing {
  position: absolute;
  bottom: 0;
  right: 0;
  background: #1760a4;
  color: #ffffff;
  padding-left: 10px;
  padding-right: 10px;
  font-family: Lato;
  font-weight: 500;
  font-size: 24px;
  line-height: 130%;
  letter-spacing: -2%;
  border-radius: 12px 0 0 0;
}

.videogallery {
  font-weight: 500;
  font-size: 48px;
  color: #1760a4;
}

.youtube {
  margin: 20px 0;
  display: grid;
  gap: 10px;
}

.youtube div {
  font-family: Geologica;
  font-size: 20px;
  color: #212121;
  text-align: center;
}

.youtube-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  background: #1760a4;
  color: #ffffff;
  text-decoration: none;
  border-radius: 4px;
  gap: 10px;
  padding: 10px 30px;
}

.subscribe {
  font-family: Geologica;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
}

/* @media (max-width: 1024px) {
  .gallery {
    flex-direction: column;
    align-items: center;
  }
  .video-list {
    justify-content: center;
  }
  .header {
    flex-direction: column;
    height: auto;
    padding: 10px;
  }
}

@media (max-width: 768px) {
  .main-video {
    max-width: 100%;
  }
  .play-button {
    width: 70px;
    height: 70px;
  }
  .top_nav ul {
    flex-direction: column;
    text-align: center;
  }
  .videogallery {
    font-size: 24px;
  }
}

@media (max-width: 480px) {
  .video-list {
    flex-direction: column;
  }
  .video-item {
    width: 100%;
    max-width: 250px;
  }
  .youtube-button {
    font-size: 14px;
  }
} */

@media (max-width: 1200px) {
  body {
    padding: 30px 50px;
  }
}

@media (max-width: 1024px) {
  body {
    padding: 20px 30px;
  }

  .title_wrap {
    display: grid !important;
  }

  .videogallery {
    font-weight: 500;
    font-size: 28px;
    color: #1760a4;
  }

  .gallery {
    grid-template-columns: 1fr;
  }

  .m .videogallery {
    font-size: 30px;
  }

  .video-list {
    padding-top: 40px;
  }

  .video-content div {
    font-size: 16px !important;
  }

  .video-mobile-list {
    display: grid;
    gap: 20px;
  }
}

@media (max-width: 768px) {
  body {
    padding: 20px;
  }
}
