.app {
  width: 100%;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

button {
  padding: 1rem;
  cursor: pointer;
}

.modal_content {
  overflow-y: auto;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  max-width: 350px;
  max-height: 100px;
  background-color: #fff;
  padding: 1rem;
  border: 2px solid gray;
  box-shadow: 0 0 1rem .1rem #00000050;
  z-index: 10;


  transform: translate(-50%, 100%);
  opacity: 0;
  pointer-events: none;
  transition: opacity .33s ease-in-out, transform .33s ease-in-out;
}

.modal_window.opened .modal_content {
  opacity: 1;
  pointer-events: all;
  transform: translate(-50%, -50%);
}

.modal_window .modal_overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #00000067;
  backdrop-filter: blur(.15rem);
  opacity: 0;
  pointer-events: none;
  transition: opacity .33s ease-in-out;
}

.modal_window.opened .modal_overlay {
  opacity: 1;
  pointer-events: all;
}

.close_modal_btn {
  background-color: transparent;
  border: none;
  outline: none;
  position: absolute;
  top: .15rem;
  right: .15rem;
  cursor: pointer;
  padding: .25rem;
}