

/* burger */

.nav__h {
    display: flex;
    font-family: inherit;
  }

  .nav__s {
    position: relative;
    margin-left: 3.5rem;
    text-decoration: none;
    opacity: 0.8;
    transition: opacity 0.1s linear;
    color: var(--colorblacktext);
    font-weight: bold;
    padding: 3px;
  }
  
  .nav__s:hover {
    opacity: 1;
  }
  
  .nav__s:after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    display: block;
    width: 100%;
    height: 1px;
    background: var(--btnborder);
  }
  
  .nav__s::after {
    width: 0;
    transition: 0.3s;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .nav__s:hover:after {
    width: 100%;
  }
  
  .burger__close {
    display: none;
    border: none;
    background-color: transparent;
    color: #fff;
    font-size: 1rem;
  }
  
  .burger__open {
    display: none;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 2rem;
    color: #fff;
    cursor: pointer;
    margin-left: 20px;
  }
  
  @media screen and (max-width: 850px) {
    .burger__open {
      display: block;
    }
  }
  
  @media (max-width: 850px) {
    .burger__close {
      display: block;
    }
  
    .nav__h {
      position: fixed;
      color: lightgray;
      flex-direction: column;
      align-items: stretch;
      font-size: 1rem;
      width: 100%;
      max-width: 240px;
      height: 100%;
      border-radius: 7px;
      margin-top: 50px;
      background-color: rgba(0, 0, 0, 0.72);
      top: 0;
      right: -100px;
      color: white;
      padding: 1rem;
      transform: translateX(100%);
      transition: transform 0.44s ease-in-out;
    }
  }
  
  .nav__h[data-opened="true"] {
    transform: translateX(0);
    height: 100vh;
    backdrop-filter: blur(30px);
    text-transform: uppercase;
    color: lightgray;
  }

  .nav__h a:first-child{
    color:green;
  }